main {
  display: flex;
  height: 100vh;
}

main div {
  width: 50%;
}

.signin__container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signin__container-right form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.signin__container-right form h1 {
  margin: 0 0 32px 0;
}

.btn-login {
  margin-top: 72px;
}

.register-link {
  display: flex;
  justify-content: center;
  width: 400px;
  margin-top: 96px;
}

.register-link span {
  margin-right: 10px;
}

@media (max-width: 850px) {
  .signin__container-left {
    width: 0;
  }

  .signin__container-right {
    width: 100%;
  }
}